a {
  color: #797066;
  text-declaration: none;
}

a:hover {
  color: #797066;
  text-declaration: none;
}

a:visited {
  color: #fffdec;
}

body {
  background-color: #fff;
  font-family: 'Lato', serif;
  font-size: 48px;
}

#button{
  color: #3E362F;
  background-color: #EDEDE6;
}

h1 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
  line-height: 60px;
}

.anne {
    height: auto;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    }

.bio-text {
  color: #353634;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 26px;
  padding: 100px 25px 0px 25px;
}

.footer {
  background-color: #3E362F;
  color: #797066;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 100px 0px 120px 0px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.tribute {
  background-color: #D5CFA7;
  color: #3E362F;
  padding: 100px 0px 100px 0px;
}

.tribute-first-line {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  letter-spacing: 8px;  
}

.tribute-second-line {
  font-family: 'Lato', sans-serif;
  font-size: 55px;
  font-weight: 900;
  line-height: 65px;
  letter-spacing: 15px; 
}

.quote {
  background-color: #fffdec;
  color: #797066;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  letter-spacing: 2.5px;
  line-height: 50px;
  padding: 100px 100px 100px 100px;
}